@import "../../styles/variable.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: "Fira Code", monospace;
}

.heading {
  max-width: 80%;
  color: white;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.sub_heading {
  max-width: 776px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.btnWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn {
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;

  &.primary {
    background-color: $blue-500;
    color: #ffffff;
  }
}
