@import "../../styles/variable.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 20px;
}

// ------- LOGIN AND SIGNUP PAGES STYLINGS ------ //
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  background-color: $primary;
  border-radius: 10px;

  &__header {
    font-size: 24px;
    font-weight: 700;
    color: $gray-200;
    text-align: center;
  }

  &__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    gap: 10px;

    span {
      color: $gray-200;
    }

    input {
      background-color: transparent;
      border-radius: 100px;
      outline: none;
      padding: 15px;
      color: $gray-200;
      border: 1px solid $gray-400;
    }
  }

  .createAccount {
    color: $blue-500;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  .errorText {
    color: red;
  }
}

// ------- CODE CONFIRMATION COMPONENT STYLINGS ------ //
.resetBtn {
  background-color: transparent;
  border: none;
  @extend .createAccount;
}

.verificationInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.inputBox {
  background-color: red;
  margin-top: 20px;
}
.character {
  color: $gray-200;
  border-radius: 5px;
  background-color: $gray-900;
  display: flex;
  align-items: center;
  justify-content: center;
}
