/* Reset some default styles */

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Fira Code", monospace;
}

/* Correct the line-height in all browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Define the default font family */

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* Remove potential border and box model inconsistencies */

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset some styles for HTML5 elements */

abbr[title] {
  border-bottom: 1px dotted;
}

mark {
  background: #ff0;
  color: #000;
}

/* Change the cursor on input elements with a placeholder */

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  cursor: pointer;
}

/* Override the default cursor style for button elements */

button,
input[type="button"],
select[type="button"],
textarea[type="button"] {
  cursor: pointer;
}

/* Make responsive images and media embeds */

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

/* Box-sizing border-box for all elements */

* {
  box-sizing: border-box;
}

/* Global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Fira Code", monospace;
  background: #030712;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  background-color: #1a202c;
  caret-color: #ffffff;
}
