@import "../../styles/variable.scss";

.card {
  background-color: $gray-800;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 10px;
}

.header {
  margin-bottom: 1rem;
}

.userCard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  .image {
    border-radius: 100px;
  }
  .name,
  .title {
    font-size: 14px;
    color: $gray-200;
  }

  .name {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .tag {
    background: $gray-400;
    padding: 10px;
    border-radius: 20px;

    a {
      color: $gray-800;
      text-decoration: none;
    }
  }
}

.connections {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  .connection {
    background-color: $gray-900;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 10px;
    color: $gray-200;
    padding: 10px;
  }
}
