@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add your Tailwind CSS configuration here if needed */

/* Global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  background-color: #1a202c;
  caret-color: #ffffff;
}

/* Add any other styles you want for the autofill state */

/* Add your custom utility classes here if needed */
