@import "../../styles/variable.scss";

.button {
  background-color: $gray-200;
  border: 1px solid $gray-900;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;
  &:hover {
    background-color: $gray-900;
    color: #fff;
  }
}
