@import "../../../styles/variable.scss";

.button {
  background-color: $blue-500;
  border: 1px solid $gray-900;
  border-radius: 100px;
  color: $gray-200;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;

  &:hover {
    opacity: 0.95;
    color: #fff;
  }
}
