@import "../../styles/variable.scss";

$md-breakpoint: map-get($breakpoints, "md");
$sm-breakpoint: map-get($breakpoints, "sm");

.container {
  background-color: $gray-900;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid $gray-900;
  display: flex;
  align-items: center;
  gap: 10px;

  .logoImage {
    border-radius: 100px;
  }

  &:hover {
    color: #ffffff;
    border-bottom: 2px solid $primary;
  }
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__items {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .searchIcon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;

    @media (min-width: $sm-breakpoint) {
      display: none;
    }
  }
  &__search {
    padding: 10px 15px;
    background-color: $gray-800;
    font-family: inherit;
    border-radius: 100px;
    border: none;
    outline: none;
    color: $gray-200;
    max-width: 250px;
    cursor: default;
    margin-right: 10px;

    &::placeholder {
      color: $gray-400;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }

  &__text {
    @media (max-width: map-get($breakpoints, "sm")) {
      display: none;
    }
  }

  .profileBtn,
  .logout {
    transition: all 0.2s ease-in-out;
    display: flex;
    gap: 10px;
    align-items: center;
    color: $gray-200;
    font-size: 14px;
    font-family: "Fira Code", monospace;
    text-decoration: none;
    &:hover {
      transform: scale(1.01);
    }
  }
  .logout {
    background-color: transparent;
    border: none;
  }
}

.publicNav {
  background-color: $primary;
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5); /* Lighter shadow */

  .logo {
    text-decoration: none;
    border-bottom: none;
  }

  .menuButton {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(4, 4, 37, 0.8);
    padding: 10px;
  }
}
